<p id="notice"><%= notice %></p>

<h1>Listing Budgets</h1>

<table class="gridtable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Starting Balance</th>
      <th>Running Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td><%= budget.description %></td>
        <td><%= number_to_currency(budget.balance) %></td>
        <td><%= number_to_currency(budget.get_budget_total) %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget', new_budget_path %>
