<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @budget.description %>
</p>

<p>
  <strong>Starting Balance:</strong>
  <%= number_to_currency(@budget.balance) %>
</p>

<% if !@budget.entries.empty? %>
  <p>
  <strong>Entries:</strong>
  <% @budget.entries.each do |e| %>
    <p>
  	  Amount: <%= number_to_currency(e.amount) %><br />
	  Description: <%= e.description %><br />
	  Deductible?: <%= e.deductible %>
    </p>
  <% end %>
  </p>
<% end %>

<p>
  <strong>Running Balance:</strong>
  <%= number_to_currency(@budget.get_budget_total) %>
</p>

<hr>

<h2>Create a new entry for this budget</h2>
<%= render :partial => 'entries/shortform', :object => @entry %>

<hr>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
